.topContainer {
    display: flex;
    padding: 10px 40px 5px 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, 1);
    transition: background-color .3s, box-shadow .3s;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
    flex-direction: row;
}

.endContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.logoContainer {
    display: inline-flex;
    align-items: center;
}

.logoImg {
    float: left;
    width: 60px;
}

@media (prefers-reduced-motion: no-preference) {
    .logoImg {
        animation: logoImg-spin infinite 60s linear;
    }
}

@keyframes logoImg-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logoText {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-left: 10px;
    color: #005403;
    text-decoration: none;
    line-height: 20px;
}

.aboutContainer {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #005403;
    cursor: pointer;
}

.registerContainer {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #005403;
    cursor: pointer;
}

.aboutContainer:hover {
    font-weight: 400;
}

.premiumContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    background-image: url("../assets/mask.png");
    background-size: cover;
    border-radius: 20px;
    padding: 8px 15px;
    height: 30px;
}

.notPremiumContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.accountContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    padding: 8px 15px;
    height: 30px;
}

a {
    text-decoration: none;
}
